<main class="flex flex-col justify-start min-h-screen gap-6 max-w-160 m-auto">

    <header class="flex w-full items-center gap-8 justify-between">
        <h1 class="text-4xl">MOCO BRO</h1>
        <span class="flex flex-row gap-2 items-center">
            @if (profileFirstName) {
            <div class="text-muted-foreground text-sm">Hallo {{ profileFirstName }}</div>
            }
            @if (isLoggedIn) {
            <button z-button zType="ghost" (click)="clearApiKey()">Abmelden</button>
            }
        </span>
    </header>

    @if (!isLoggedIn) {

    <z-card class="w-100 mx-auto">
        <label z-form-label for="apiKey">API Key</label>
        <z-input-group [zAddonAfter]="apiKeyAddon">
            <input z-input id="apiKey" placeholder="1234abcd5678efgh" #apiInput autocomplete="off"
                (keydown.enter)="saveApiKey(apiInput.value)" />
        </z-input-group>
        <ng-template #apiKeyAddon><z-icon zType="chevron-right" (click)="saveApiKey(apiInput.value)" /></ng-template>

        <p class="text-md mt-4">Du findest deinen Api-Key in MOCO unter Profil - Integrationen - "Persönlicher API
            Schlüssel"
        </p>

    </z-card>

    } @else {

    <div class="flex gap-2 w-full">
        <z-card>
            <div class="flex items-center gap-2 justify-center">
                <z-button zType="ghost" (click)="previousMonth()"> <z-icon zType="arrow-left" /></z-button>
                <div class="w-26 text-center">{{ selectedMonth.toLocaleString(undefined, { month: 'long', year:
                    'numeric' }) }}</div>
                <z-button zType="ghost" (click)="nextMonth()"> <z-icon zType="arrow-right" /></z-button>
            </div>

            <div class="flex flex-col gap-4 mt-4">
                @for (month of monthsGrid; track month.label) {
                <!-- <div class="text-sm text-muted-foreground">{{ month.label }}</div> -->
                @for (week of month.weeks; track $index) {
                <div class="flex gap-1">
                    @for (day of week; track (day ? formatDateKey(day) : $index)) {
                    <div class="w-7 h-7 rounded flex-shrink-0 flex items-center justify-center text-xs" [ngClass]="{
                                       'bg-gray-300': day && !activitiesDates.has(formatDateKey(day)),
                                       'bg-green-400': day && activitiesDates.has(formatDateKey(day)),
                                       'bg-red-600': day && presencesDates.has(formatDateKey(day)) && !activitiesDates.has(formatDateKey(day)),
                                       'border-2 border-gray-700': day && presencesDates.has(formatDateKey(day)),
                                    }" [title]="formatDayTitle(day)">
                        {{ day ? day.getDate() : '' }}
                    </div>
                    }
                </div>
                }
                } @empty {
                <div class="text-muted-foreground">No months</div>
                }
            </div>
        </z-card>

        <z-card>
            <div class="flex flex-row gap-10 mb-4 justify-between">
                <div>
                    <h4>Anwesent:</h4>
                    <div class="border-2 border-gray-700 rounded w-7 h-7 flex items-center justify-center">{{
                        presentDaysCount }}</div>
                </div>
                <div>
                    <h4>Gearbeitet:</h4>
                    <div class="bg-green-400 rounded w-7 h-7 flex items-center justify-center">{{activityDaysCount}}
                    </div>
                </div>
                <div>
                    <h4>Faule Tage:</h4>
                    <div class="bg-red-600 rounded w-7 h-7 flex items-center justify-center"> {{ presentDaysCount -
                        activityDaysCount }}
                    </div>
                </div>
            </div>

            <p class="mb-4">Sag deinem Chef an welchen Projekten du gearbeitet hast:</p>

            <div class="flex gap-3">
                <div class="flex-1">
                    <label z-form-label for="project">Projekt</label>
                    <z-select [zValue]="selectedProjectId?.toString() ?? ''"
                        (zSelectionChange)="onProjectSelect($event)" zPlaceholder="-- Projekt --">
                        @for (proj of assignedProjects; track proj.id) {
                        <z-select-item [zValue]="proj.id.toString()">{{ proj.identifier ? (proj.identifier + ' - ') : ''
                            }}{{ proj.name }}</z-select-item>
                        }
                    </z-select>
                </div>
                <div class="flex-1">
                    <label z-form-label for="task">Aufgabe</label>
                    <z-select [zValue]="selectedTaskId?.toString() ?? ''" (zSelectionChange)="onTaskSelect($event)"
                        zPlaceholder="-- Aufgabe --">
                        @for (task of tasksForSelectedProject; track task.id) {
                        <z-select-item [zValue]="task.id.toString()">{{ task.name }}</z-select-item>
                        }
                    </z-select>
                </div>
            </div>

            <label z-form-label for="taskDescription">Was hast du gemacht?</label>
            <z-input-group>
                <input z-input id="taskDescription" [(ngModel)]="taskDescription"
                    (ngModelChange)="onTaskDescriptionChange($event)" placeholder="Was hast du gemacht?" />
            </z-input-group>

            <z-button class="mt-4 w-full" (click)="onSendClicked()" [zDisabled]="!canSend || isSending"
                [zLoading]="isSending">WEG DAMIT</z-button>

        </z-card>

    </div>

    }

</main>

<z-toaster />